/* Project system */

.root {
    -fx-font-family: "American Typewriter";
}

/* main page */

.userHeader {
    -fx-background-color: #5E859F;
    -fx-background-size: 100;
}

.list-cell {
    -fx-alignment: center; /* Setji gögn í miðjuna af listView töfluna */
    -fx-text-fill: black;
    -fx-font-size: 16;
}

.list-cell:focused {
    -fx-background-color: #ADADAD;
    -fx-underline: true;
}

/**
* Þessi fyrir neðan er fyrir takan sem verður fyrir notendabreytingu eða eyðingu
*/
.userHeader_accButton {
    -fx-background-image: url("Images/accChange.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 40;
    -fx-background-color: #5E859F;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}